body{
    background-color: #f8f3f0;
    color: #a56227;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
link{
    text-decoration: none;
    text-emphasis: none;
}
a{
    text-emphasis: none;
    text-decoration: none;
    color: inherit;
}
.pie-chart{
    overflow: visible;
}